

body {
	font-Family: 'Frank Ruhl Libre', Sans-Serif;
	font-size: 20px;
	font-weight:lighter;
	background-color: rgb(226, 226, 226);
	margin: 24;
	vertical-align: baseline;
}

h1, h2, h3, a{ 
	Font-Family: 'Raleway', Sans-Serif;
	color: rgb(127, 127, 127);
	margin: 24;


}
a{
	text-decoration: none;	
	text-align: center;
	border: 1px;
	color: rgb(36, 36, 36);
	border-style: solid;
	border-color: rgb(36, 36, 36);
	padding: 15px 32px;
	bottom: 50;
	float: center;
	border-radius: 8px;
}	
	
h1 {
	font-size: 90px;
	text-align: center;
	font-weight:lighter;
	color:rgb(36, 36, 36);
}

h2 {
	font-size: 33px;
	font-weight:normal;
	text-align: center;
	line-height: 48px;
}

h3 {
	font-size: 20px;
	text-align: center;
	text-orientation: mixed;
	font-weight:lighter;
	color: rgb(226, 226, 226);
}
p {
	line-height: 40px;
	margin: 24;
	color:rgb(36, 36, 36);

}

main {
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}

.center {
	display: block; 
	margin-left: auto;
	margin-right: auto;
	}

.top{
	background-color:rgb(36, 36, 36);
	overflow: hidden;
	position: sticky;
	top: 0; 
	left: 0;
	right: 0;
	width: 100% 
	}

.col {
	display: flex;
	}
	
.col p {
	margin:32px;
	line-height: 48px;
	}

.col p:nth-child(1) {
	flex: 100%;
	}

.col p:nth-child(2) {
	flex: 100%;
	}
	